---
---

$DMG00: #424242;
$DMG01: #33691e;
$DMG10: #88c070;
$DMG11: #f1f8e9;

// Headers
$header-heading-color: #ffffff;
$header-bg-color: $DMG10;
$header-bg-color-secondary: #346856;

// Text
$section-headings-color: $DMG01;
$body-text-color: $DMG00;
$body-link-color: $DMG10;
$blockquote-text-color: $DMG01;

// Code
$code-bg-color: $DMG11;
$code-text-color: $DMG01;

// Borders
$border-color: $DMG01;
$table-border-color: $DMG00;
$hr-border-color: $DMG01;

@import "{{ site.theme }}";
