name: CI
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Gforth
        run: sudo apt-get install -y gforth

      - name: Compile example ROMs
        run: make examples

      - name: Compile test ROMs
        run: make tests

      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 10.0

      - name: Install Canvas dependencies
        run: sudo apt-get install -y build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev

      - name: Install Yarn packages
        run: ( cd test/; yarn )

      - name: Run tests
        run: make check

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: amshackers/gbforth:latest
